target/
*/src/*/kotlin/META-INF
*/src/META-INF/
*/src/*/kotlin/META-INF/
.classpath
.springBeans
.project
.DS_Store
.settings/
.idea/
out/
bin/
intellij/
build/
*.log
*.log.*
*.iml
*.ipr
*.iws
.gradle/
!etc/eclipse/.checkstyle
classes/
ktlint
