.container {
  box-sizing: border-box;
  width: 90%;
  max-width: 60rem;
  margin: 0 auto 2rem;

  background-color: white;
  padding: 3rem;

}

.half-width-container {
  display: flex;
  justify-content: space-between;
}

.half-width {
  width: 48%;
}


/* GENERAL FORM STYLING */
label {
  display: block;
  font-size: 0.9rem;
}


/* TEXT FIELDS */

.text-entry {
  margin-bottom: 1rem;
}

.text-entry input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.text-entry.investment-title input {
  font-size: 2.3rem;
}


/* LONGFORM TEXT FIELDS */

.longform-entry {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.longform-entry textarea {
  display: block;
  box-sizing: border-box;
  margin-top: 0.5rem;
  width: 100%;
  min-height: 6rem;
}

.asset-table tr.selected {
  background-color: rgba(0, 98, 152, 0.25);
}

.asset-search-box {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 1.3rem;
  margin: 1rem 0;
}
