<div class="container">
    <div class="text-entry investment-title">
      <input id="investment-title" name="investment-title" type="text" placeholder="My New Investment">
      <label for="investment-title">Investment Title</label>
    </div>

    <div class="half-width-container">
      <div class="text-entry half-width">
        <input id="sponsor-name" name="sponsor-name" type="text" placeholder="Sponsor Name">
        <label for="sponsor-name">Sponsor Name</label>
      </div>

      <div class="text-entry half-width">
        <input id="required-by" name="required-by" type="text" placeholder="Enter a Date">
        <label for="required-by">Required By</label>
      </div>
    </div>


    <div class="longform-entry">
      <label for="project-reason">Project Reason</label>
      <textarea name="project-reason" id="project-reason"></textarea>
    </div>

    <div class="longform-entry">
      <label for="project-scope">Project Scope</label>
      <textarea name="project-scope" id="project-scope"></textarea>
    </div>

    <app-assets></app-assets>

    <button type="submit">Submit</button>
</div>
