.container {
  box-sizing: border-box;
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;

  background-color: white;
  padding: 3rem;

}

.half-width-container {
  display: flex;
  justify-content: space-between;
}

.half-width {
  width: 48%;
}


/* GENERAL FORM STYLING */
label {
  display: block;
  font-size: 0.9rem;
}


/* TEXT FIELDS */

.text-entry {
  margin-bottom: 1rem;
}

.text-entry input {
  width: 100%;
  display: block;
  border: 0px solid;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-bottom: 1px solid #555;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.text-entry input:focus {
  background-color: #fef8d7;
  outline: none;
}

.text-entry.investment-title input {
  font-size: 2.3rem;
}


/* LONGFORM TEXT FIELDS */

.longform-entry {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.longform-entry textarea {
  display: block;
  margin-top: 0.5rem;
  width: 100%;
  min-height: 6rem;
}
