.stepper {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.stepper li {
  margin: 0;
}

.stepper li:after {
  color: #006298;
  content: '>';
  padding: 0 1rem;
}

.stepper li:last-child:after {
  content: '';
  padding: 0;
}

.stepper a {
  text-decoration: none;
  color: #555555;
}

.stepper a.active {
  color: #006298;
  font-weight: bold;
  background-color: transparent;
}

.nav-buttons {
  display: flex;
  justify-content: center;
}

.nav-buttons .prev {
  margin-right: 1rem;
  color: #787878;
  background-color: transparent;
  border: 1px solid #ababab;
}

.nav-buttons .prev:hover {
  background-color: #f9f9f9;
}

.nav-buttons .next:hover {
  background-color: #004971;
}
